<div class="container mt-5">
  <div class="p-4 rounded-4 border border-dark shadow-lg text-white text-center"
       style="background-image: url('/kadran.jpg'); 
              background-size: cover; 
              background-position: center; 
              background-repeat: no-repeat; 
              max-width: 600px; 
              width: 100%;">
    <div class="text-start">
        <h1 class="display-5 fw-bold bg-dark bg-opacity-50 rounded-3 py-2 px-1 text-center" style="max-width: 50%">
          {{ timeRemaining }}
        </h1>

        <p class="text-black" style="font-weight: 800; font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic; max-width: 60%">
          {{ lyric }}
        </p>

      <p class="bg-light bg-opacity-75 text-dark rounded-3 py-2 px-1 text-center" style="max-width: 100px; font-weight: 500; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        {{ nowDate | date:'HH:mm:ss' }}
      </p>

    </div>
  </div>
</div>
